@import './constant.style.scss';
html,
body {
    height: 100%;
    font-size: $size-two;
    min-width: $length-body-min-width;
    font-family: "Microsoft Yahei", '微软雅黑';
}

body {
    color: $color-word-main;
    line-height: 1;
    // -webkit-user-select: none; // 文本不可复制
}

a,
label,
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipse2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.wrap {
    word-wrap: break-word;
    word-break: break-all;
}


/*======================   滚动条样式开始   ===========================*/


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 2px;
    height: 26px;
    background-color: #F5F5F5;
}


/*定义滚动条轨道 内阴影+圆角*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
    // border-radius: 10px;
    background-color: #F5F5F5;
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    // border-radius: 10px;
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: rgba(153, 153, 153, 0.6);
}


/*======================   滚动条样式结束   ===========================*/


/*清除ie10+文本框的叉叉和密码输入框的眼睛图标*/

::-ms-clear,
::-ms-reveal {
    display: none;
}


/*ie滚动条样式*/

textarea {
    padding-top: 6px;
    line-height: 1.2 !important;
    scrollbar-face-color: #fff;
    scrollbar-arrow-color: #fff;
    scrollbar-shadow-color: #fff;
    scrollbar-dark-shadow-color: #fff;
    scrollbar-base-color: #fff;
    scrollbar-track-color: #fff;
}

// 富文本编辑器样式重置
#editor-inner-wrap {
    b {
        font-weight: 600;
    }
    i {
        font-style: italic;
    }
}