@mixin center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin shadow {
    // box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 1px rgba(197, 197, 197, 0.50);
}